{% extends 'base.html.twig' %}

{% block title %}{{ contest.title }}{% endblock %}
{% set class = 'form-control' %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <h1>{{ contest.title }}</h1>
            {% if contest is not null %}
                {% include 'contest/partials/contest-participant-form.html.twig' %}
            {% endif %}
        </div>
    </div>
{% endblock %}
