{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}

<div class="row">
    <div class="col-12">
        <h1>Hello {{ controller_name }}! ✅</h1>
        This friendly message is coming from:
        <ul>
            <li>Your controller at <code><a href="{{ 'src/Controller/ContestController.php'|file_link(0) }}">src/Controller/ContestController.php</a></code></li>
            <li>Your template at <code><a href="{{ 'templates/contest/index.html.twig'|file_link(0) }}">templates/contest/index.html.twig</a></code></li>
        </ul>
    </div>
</div>
{% endblock %}
