{% extends 'base.html.twig' %}

{% block title %}{{ contest.title }}{% endblock %}
{% set class = 'form-control' %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <h1>Gewinnspiel ist nicht aktiv</h1>
        </div>
    </div>
{% endblock %}
