<div class="form-group">
    <div id="contest_admin_type_question_answers___name__">
        <div>
            <input type="text"
                   id="contest_admin_type_question_answers___name___title"
                   name="contest_admin_type[question][answers][__name__][title]"
                   required="required"
                   placeholder="Antwortmöglichkeit __name2__"
                   class="form-control" />
        </div>
    </div>
</div>

